<h1>GhostPost Machine™</h1>
<p>
<button><a href="/" style="text-decoration:none; color:black">Home</a></button>
<button><a href="/roasts/" style="text-decoration:none; color:black">View Roasts</a></button>
<button><a href="/boasts/" style="text-decoration:none; color:black">View Boasts</a></button>
<button><a href="/mostscore/" style="text-decoration:none; color:black">Sort by score</a></button></p>

<button><a href="/new/" style="text-decoration:none; color:black">Create a new Roast or boast</a></button>
{% for info in data %}
    {% include 'detail.html' with info=info %}
{%endfor%}